.TypeResult{
    min-height: 500px;
    justify-content: center;
}

.type{
    justify-content: center;
}

.typeResult-left{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.typeResult-right{
    font-size: medium;
}