.big{
    min-height: 670px;
}

.MuiTabs-flexContainer .MuiButtonBase-root{
    padding: 0;
    margin: 5px !important;
}


.YourResult{
    margin: 0;
}

.MuiBox-root{
   padding: 0 !important;
}

.result{
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.right{
    font-size: medium;
}