.Mbti {
  text-align: center;
  background-color: #ffffff;
  height: 100vh;
  width: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(0, 0, 0);
}

.StartTest,
.YourResult,
.PersonalityTypes,
.TypeResult {
  margin: 20px;
}
